@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}


body{
  
    font-family: sans-serif;
    color: #4c6886;
}

.title{
    max-width: 500px;
}
.wrapper{
    max-width: 1440px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5% auto;
}

h1{
    font-size: 60px;
    font-weight: bold;
}
.restart{
    
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #4c6886;
    cursor: pointer;
    font-weight: bold;
    margin-top:  30px;
}

/*  just flip the colors for button it will look seemless  */
.restart:hover{
    background: #4c6886;
    color: white;
}

.header{
    display: flex;
    color: #9A9A9A;
    font-size:  24px;
    margin-left: 5%;
}


.header .player-X{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-X.active{
    color: #42BED7;
    border-color:  #42BED7;
}
.header .player-O{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}


.player-O.active{

    color: #D7BAFB;
    border-color: #D7BAFB;
}

.game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0;
    flex-grow: 1;
    margin-left: 5%;
    /* place-items: end; */
}

.board-tile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  padding: 10%;
}

.board-tile:not(:nth-child(3n)){
    border-right: 3px solid rgba(137, 163, 189, 0.3);
}

.board-tile:not(:nth-last-child(-n + 3)){
    border-bottom: 3px solid rgba(137, 163, 189, 0.3);
}


.board-tile:hover{
    background: #eee;
}


.tile-x{
     color: #42BED7;
}

.tile-o{
    color: #D7BAFB;
}

.tile-winner span{
    color: #23CE6B;
}

.winner{
    font-size: 7rem;
    color: #4c6886;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px #D7BAFB, 8px 8px #42BED7;
}

.hideWinner{
   display: none;
}

.hide{
    display: none;
}

.appear{
    display: flex;
}

@media only screen and (max-width: 1200px){

    .wrapper{
    flex-direction: column;
    margin-top: 20%;
    }
    .left{
        margin-bottom: 50px;
    }
}